body {
    background-color: #3d3d3d;
    color: #e0e0e0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
    margin: 3% auto;
    padding: 2%;
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

/*_______________ List _______________*/

ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: auto;
}

li {
    background-color: rgb(65, 65, 65);
    margin: 1%;
    padding: 1.5%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #555555;
}

/*_______________ Link _______________*/

li a {
    color: #e0e0e0;
    text-decoration: none;
}

.actions {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

/*_______________ Button _______________*/

.create-button {
    display: inline-block;
    margin: 3%;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #1f1f1f;
    border: #ff9500 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.create-button:hover {
    background-color: #ff95007c;
    color: #ffffff;
}

.view-responses {
    padding: 5px 10px;
    color: #ffffffb7;
    background-color: rgb(65, 65, 65);
    border: #ff9500 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

.view-responses:hover {
    background-color: #ff95007c;
    color: #ffffff;
    transition: all 0.2s ease;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button i, .edit-button i {
    font-size: 1.3rem;
    cursor: pointer;
    padding: 5px;
}

.delete-button i {
    color: #ff3b30;
}

.delete-button i:hover {
    color: #d01f17;
}

.edit-button i {
    color: #ff9500;
}

.edit-button i:hover {
    color: #e68900;
}

.delete-button i:hover, .edit-button i:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}