body {
    background-color: #3d3d3d;
    color: #e0e0e0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.createAndList {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container {
    width: 60%;
    margin: 3% auto;
    padding: 2%;
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 1%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #df8200;
}

/*_______________ List _______________*/

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: rgb(65, 65, 65);
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1.5%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #555555;
}

.clickable {
    cursor: pointer;
    position: relative;
    padding: 15px;
}

.clickable:hover {
    border-color: #ff9500;
    background-color: #333333;
}

.poll-name {
    flex-grow: 1;
}


/*_______________ Link _______________*/

li a {
    color: #e0e0e0;
    text-decoration: none;
}

.actions {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

/*_______________ Button _______________*/

.create-button {
    width: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #1f1f1f;
    border: #ff9500 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.create-button:hover {
    background-color: #ff95007c;
    color: #ffffff;
}

.view-responses {
    padding: 5px 10px;
    color: #ffffffb7;
    border-radius: 8px;
    cursor: pointer;
}

.view-responses:hover {
    color: #444444;
    transition: all 0.2s ease;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button i, .edit-button i, .view-responses i {
    font-size: 1.3rem;
    cursor: pointer;
    padding: 5px;
}

.delete-button i {
    color: #ff3b30;
}

.delete-button i:hover {
    color: #ff0d007a;
}

.edit-button i {
    color: #ff9500;
}

.edit-button i:hover {
    color: #ff95007c;
}

.view-responses i {
    color: #ffffffb7;
}

.view-responses i:hover {
    color: #8d8c8c76;
}

/*_______________ Tooltip _______________*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*_______________ Modal _______________*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #28a745;
    color: white;
}

.confirm-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #ff3b30;
    color: white;
}

.cancel-button:hover {
    background-color: #d01f17;
}

