<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/create_poll.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>Créer un sondage</title>
</head>

<body>
    <div class="container">
        <h1>Créer un sondage</h1>
        <form id="pollForm">
            <div class="form-group">
                <label for="pollName">Nom du sondage</label>
                <input type="text" id="pollName" name="name" required>
            </div>

            <div id="questionsContainer">
                <div class="form-group question-box">
                    <label>Titre de la question</label>
                    <input type="text" class="questionTitle" name="questionTitle" required>
                    <label for="questionType">Type de question</label>
                    <select class="questionType" name="questionType" required>
                        <option value="ouverte">Ouverte</option>
                        <option value="qcm">QCM</option>
                    </select>
                    <label for="questionReponses">Réponses (si QCM, séparez par une virgule)</label>
                    <input type="text" class="questionReponses" name="questionReponses" required>
                    <div class="delete-button-container">
                        <button type="button" class="delete-question-button">-</button>
                    </div>
                </div>
            </div>

            <button type="button" class="add-question-button" onclick="addQuestion()">+</button>

            <div class="submit-container">
                <button type="submit" class="submit-button">Créer le sondage</button>
            </div>
        </form>
    </div>
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h2>Sondage créé avec succès !</h2>
            <p>Voulez allez être redirigé vers la page d'accueil</p>
        </div>
    </div>

    <script src="../static/script.js"></script>
    <script src="../static/delete.js"></script>
</body>

</html>