<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des sondages</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body class="index">
    <div class="container">
        <h1>Liste des sondages</h1>
    
        <div class="createAndList">
            <a href="/create" class="create-button">+ Nouveau sondage</a>

            {% if polls %}
            <ul>
                {% for poll in polls %}
                <li class="clickable" data-url="/sondages/{{ poll._id }}">
                    <span class="poll-name">{{ poll.name }}</span>
                    <div class="actions">
                        <a href="/sondages/{{ poll._id }}/reponses" class="view-responses tooltip">
                            <i class="fa fa-eye"></i>
                            <span class="tooltiptext">Voir réponses</span>
                        </a>
                        <a href="/sondages/edit/{{ poll._id }}" class="edit-button tooltip">
                            <i class="fas fa-edit"></i>
                            <span class="tooltiptext">Modifier</span>
                        </a>
                        <button class="delete-button" data-poll-id="{{ poll._id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
        <div id="confirmation-modal" class="modal">
            <div class="modal-content">
                <h3>Êtes-vous sûr de vouloir supprimer ce sondage ?</h3>
                <div class="modal-actions">
                    <button id="confirm-delete" class="confirm-button">Oui</button>
                    <button id="cancel-delete" class="cancel-button">Non</button>
                </div>
            </div>
        </div>
        {% else %}
        <p>Aucun sondage trouvé.</p>
        {% endif %}
    </div>
    
    <script src="../static/delete.js"></script>
    <script>
        document.querySelectorAll(".clickable").forEach(item => {
            item.addEventListener("click", function(event) {
                if (!event.target.closest(".actions")) {
                    window.location.href = this.dataset.url;
                }
            });
        });
    </script>
    
</body>

</html>