<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ poll.name }}</title>
    <link rel="stylesheet" href="../static/poll.css">
</head>

<body class="poll-page">
    <div class="container">
        <h1>{{ poll.name }}</h1>

        <form id="responseForm">
            {% for question in poll.questions %}
                <div class="question-response">
                    <div class="question-item">
                        <strong class="question-title">{{ question.title }}</strong>
                        <span class="question-type">({{ question.type }})</span>
                        {% if question.type == 'qcm' %}
                            <ul class="response-list">
                                {% for reponse in question.reponses %}
                                    <li class="response-item">
                                        <label>
                                            <input type="radio" name="response_{{ question._id }}" value="{{ reponse }}" required>
                                            {{ reponse }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <input type="text" name="response_{{ question._id }}" required class="response-input">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit">Envoyer</button>
        </form>

        <script>
            document.getElementById("responseForm").addEventListener("submit", function (event) {
                event.preventDefault();

                const formData = new FormData(event.target);
                const responses = [];

                formData.forEach((value, key) => {
                    responses.push({ question_id: key.replace("response_", ""), answer: value });
                });

                fetch("/sondages/{{ poll._id }}/answer", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ responses })
                })
                    .then(response => response.json())
                    .then(data => alert(data.message))
                    .catch(error => alert("Erreur: " + error));
            });
        </script>
</body>

</html>